{% extends 'base.html' %}
{% block title %}
    Forgot your password ?
{% endblock title %}
{% block content %}
<h1>Forgot your Password</h1>
<p>Enter your email address below,we will mail you</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me isntruction" class="btn btn-success">
</form>
{% endblock content %}