{% extends 'base.html' %}
{% block title %}
    Password Reset Complete
{% endblock title %}
{% block content %}
    <h1>Password reset complete</h1>
    <p> you can LogIn now<a href='{% url 'login' %}'>LogIn Page</a> </p>
{% endblock content %}